/******* Change Box Model ***************/
*,
*:before,
*:after {
  box-sizing: border-box;
}



/******* Body Styles ***************/

body {
  margin: 0;
  background-image: url('/images/site/checkerboard.jpg');
  background-repeat: repeat;
  background-size: auto;
  font-family: Arial, Helvetica, sans-serif;
}

.wrapper {
  padding: 1rem;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  margin: 2rem 5rem;
  border-radius: 15px;
  background-color: white;
  overflow: hidden;
}

@media only screen and (max-width: 600px) {
  .wrapper {
    margin: 2rem 0;
  }
  
}
/******* Header Styles ***************/
header {
  background-color: aliceblue;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;

}

header a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

header .siteName {
  font-size: 35px;
}

/******* Navigation Styles ***************/
nav {
  background-color: black;
  margin: 0 .5rem;
}

nav ul{
  display: flex;
  align-content: center;
  justify-content: space-around;
  list-style: none;
  gap: 1rem;
  color: white;
  padding: 0;
}

nav ul li {
  cursor: pointer;
}

nav ul li a {
  text-decoration: none;
  color: white;
}

nav ul li a:hover {
  background-color: white;
  color: black;
}

/******* Main Styles ***************/

/********HERO SECTION***************/

.hero {
  position: relative;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1rem;
  margin-bottom: 2rem;
}

.DMC_delorean {
  z-index: 100;
  background-color: rgba(165, 157, 157, 0.233);
  border-radius: 10px;
  padding: 1rem;

  position: absolute;
  top: 15%;
  right: 60%;
}

.DMC_delorean h2 {
  margin: 0;
}

.DMC_delorean ul {
  font-size: 1.5rem;
  list-style: none;
  padding: .5rem;
  margin: 0;
}

.DMC_delorean ul li {
  margin: .5rem 0;
  font-weight: bold;
}

.DMC_delorean img {
  min-width: 100px;
  width: 100%;
  height: auto;
}

@media only screen and (max-width: 700px) {
  .DMC_delorean {
    margin-bottom: 1rem;
    right: 55%;
    top: auto;
    background-color: rgba(219, 184, 68, 0.377);
  }

  .DMC_delorean img {
    min-width: 80px;
  }

  .DMC_delorean ul {
    font-size: 1.2rem;
  }
  
}

/********* Featured Section ***************/

.info {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  margin: auto 1rem;
}

.upgrades {
  display: grid;
  grid-template-areas: 
    "title title"
    "upgrade1 upgrade2"
    "upgrade3 upgrade4";
}
    /******* Upgrade Items Area**********/
    .upgrades h3 {
      grid-area: title;
      text-align: center;
    }
    .upgrade1 {
      grid-area: upgrade1;
    }
    .upgrade2 {
      grid-area: upgrade2;
    }
    .upgrade3 {
      grid-area: upgrade3;
    }
    .upgrade4 {
      grid-area: upgrade4;
    }

.upgrade-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
}

.upgrade-item:hover {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  transform: translateY(-5px);
  background-color: rgba(0, 0, 0, 0.2);
}

.item-img img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
}

.reviews h3 {
  text-align: center;
}

.reviews ul li {
  margin-bottom: .5rem;
  font-size: 1.2rem;
}

/********* AREAS REACTIVE ************/

@media only screen and (max-width: 730px) {
  .info {
    grid-template-areas: 
      "reviews"
      "upgrades";
  }

  .reviews {
    grid-area: reviews;
  }
  .upgrades {
    grid-area: upgrades;
  }

}
/******* Footer Styles ***************/

footer {
  padding: 1rem;
}

/******** inv-display Styles ***************/

#inv-display {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1rem;

  list-style: none;
  padding: 0;

  margin: 1rem;
}

#inv-display li {
  border-radius: 10px;
  border: 1px solid black;
  overflow: hidden;
  max-width: 300px;
}
/*images*/
#inv-display li a {
  width: 100%;
}

#inv-display li a img {
  width: 100%;
  object-fit: cover;
  display: block;
  border-radius: 10px 10px 0 0;
}
/* NAME PRICE */

#inv-display li .namePrice {
  margin: 1rem;

}

/* DETAILS */

.vehicle-detail {
  display: grid;
  grid-template-areas: 
   "img vehicle";
  gap: 1rem;
}

.vehicle-detail img {
 grid-area: img;
}

.vehicle-detail .vehicle-info {
  grid-area: vehicle;
}

  @media only screen and (max-width: 1000px) {
    .vehicle-detail {
      display: flex;
      flex-direction: column;
    }
  }

/* FORMULARIO */

form {
  display: flex;
  align-items: center;
  justify-content: center;

}

fieldset {
  border-radius: 30px;
  background: white;

  padding: 2rem;

  box-shadow:  13px 13px 36px #d9d9d9,
              -13px -13px 36px #ffffff;

}

input,
label,
button {
  display: block;  
  border: none;
  border-radius: 15px;
}

input {
  height: 45px;
  width: 400px;
  
  margin: 1rem 0;
  padding: 1rem;

  border-radius: 15px;
  background: #ffffff;
  box-shadow: inset 6px 6px 12px #e8e8e8,
              inset -6px -6px 12px #ffffff;
}

.formulario .button {
  height: 45px;
  width: 400px;
  box-shadow: none;
  background: rgb(190, 190, 190);

  margin-top: 2rem;
}

/*///////////////// FORM ///////////////////////////*/

.inventory-form {
  max-width: 500px;
  margin: 0 auto;
  padding: 1rem;

  display: flex;
  flex-direction: column;
}

.inventory-form label {
  display: block;
  margin-top: 1rem;
  font-weight: bold;
}

.inventory-form input,
.inventory-form textarea,
.inventory-form select {
  display: block;
  width: 100%;
  max-width: 100%;
  padding: 0.5rem;
  margin-top: 0.25rem;
  margin-bottom: 0.75rem;
  box-sizing: border-box;
}

.inventory-form button {
  display: block;
  padding: 0.7rem 1rem;
  margin-top: 1rem;
  cursor: pointer;
}